body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: #1b1b1b;
    overflow-x: hidden;
    scrollbar-width: none;
}

  
.hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)),url('./img/galaxy3.jpg') no-repeat center center/cover;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
  
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.hero-content h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: "Roboto", serif;
    font-weight: 300;
    margin: 0;
}
  
.hero-content h2 {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
    font-family: "Roboto", serif;
}
  
.hero-content p {
    font-size: 1.5rem;
    color: #ff0000;
    font-weight: 700;
    font-family: "Roboto", serif;
    margin: 0;
}
  
.social-links {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    width: 4rem;
    height: 13rem;
    align-items: center;
    border-radius: 1rem;
    justify-content: center;
    z-index: 2;
}

i{
    color: #dadada;
    font-size: 2rem;
    margin: 0.2rem;
}

i:hover{
    color: #fff;
    font-size: 2.5rem;
    transition: 200ms;
}
  
.social-links a {
    margin-bottom: 15px;
}
  
.social-links img {
    width: 30px;
    height: 30px;
}

.espaco-vazio {
    width: 100%;
    height: 140px;
    background: rgb(0, 0, 0);
}

.habilidades-section h1 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
    font-family: "Roboto", serif;
    text-align: center;
}

.habilidades-section p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    font-family: "Roboto", serif;
    text-align: center;
}

.habilidades-section{
    align-content: center;
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #00000000),linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)),url('./img/pordosol.png') no-repeat center center/cover;
}

.col1,.col2 {
    display: flex;
    justify-content: center;
    margin: 0.7rem;
}

.habilidades-icons #IA, #PS, #react, #pgadm, #js, #ts, #tailwind{
    width: 60px;
    margin: 1rem;
}

.habilidades-icons #html, #css{
    width: 50px;
    margin: 1rem;
}

.habilidades-icons #figma{
    width: 40px;
    margin: 1rem;
}

.habilidades-icons #IA:hover, #PS:hover, #react:hover, #pgadm:hover, #js:hover, #ts:hover, #tailwind:hover{
    width: 70px;
    transition: 200ms;
    margin: 0.7rem;
}

.habilidades-icons #html:hover, #css:hover{
    width: 60px;
    transition: 200ms;
    margin: 0.7rem;
}

.habilidades-icons #figma:hover{
    width: 50px;
    transition: 200ms;
    margin: 0.7rem;
}

